$size-button-w:150;
$size-button-h:40;
$default-color:#fff;
$active-color:#f48c06;

@function convert_px_to_rem($number){
    $result: calc($number / 16);
    @return $result;
}


.wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .wrapper-column{
        display: flex;
        align-items: center;
        flex-flow: column;
        row-gap: 30px;
    }
    .wrapper-row{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}

.button--genarete-password{
    width: convert_px_to_rem($size-button-w)em;
    height: convert_px_to_rem($size-button-h)em;
}
#passwordValue{
    color:$default-color;
    padding: 1em;
}