@import url("../../../public/styles/main.css");

.button--copy{
    transition: all 200ms;
    border-radius: 30px;
    font-weight: 900;
    background-color: rgb(2, 184, 99);
    &:hover{
        background-color:rgb(15, 6, 134);
        color:#fff;
    }
}

.wrapper-copy, .defaultFlexRow{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
}

.-none, .hide{
    display: none !important;
}

.nothing-to-copy{
    color:#fff;
    padding: 1rem;
}
