@import url('../../main.scss');
%defaultFlexRow{
	display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.button--copy{
    transition: all 200ms;
        background: none;
        svg{
            fill:#f48c06;
        }
        &:hover{
            svg{
                fill:white;
            }
        }
}
.-none{
    display: none;
}

.active--popup{
    width: 150px;
    height: 35px;
    left:50%;
    border-radius: 5px;
    background: rgba($color: #fff, $alpha: 0.8);
    position: absolute;
    z-index: 99;
}
.wrapper-copy, .defaultFlexRow{
    @extend %defaultFlexRow;
    text-align: center;
}

.nothing-to-copy{
    color:#fff;
    padding: 1rem;
}
.hide{
    display: none !important;
}
.party-popper{
    background-image: url('./img/party-popper.png');
    background-position: center;
    background-size: cover;
    height: 15px;
    width: 15px;
    position: relative;
    left: 70%;
}