/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
:root{
	--base-color:#fff;
	--font-body:'Lato', sans-serif;
	--font-jumbo-text:1.5rem;
	--text-colors-one:#161616;
}
body {
	line-height: 1;
    background: var(--base-color);
	font-family: var(--font-body);
}
button{
    width: 150px;
    height: 50px;
    border:none;
    border-radius:100%;
}
.container-page{
    width: 100%;
    height: 50rem;
}
.wrapper-svg{
	display: block;
	width: 200px;
}
.wrapper-svg img{
	width: 150px;
}


/* END RESET CSS */